{% extends 'base.html.twig' %}


    {% block title %}
        {{ parent() }} - Payment

    {% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body_id 'payment' %}


 {% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="log_form">

                <h2 class="title">Charge with Simplify Commerce</h2>

                <form id="simplify-payment-form" action="{{ path('validMastercard') }}" method="POST">
                    <!-- The $10 amount is set on the server side -->
                    <div>
                        <label>Full Name: </label>
                        <div class="controls  col-sm-12">
                            <input id="fullname" class="form-control" type="text" maxlength="20" autocomplete="off" value="" autofocus />
                        </div>
                    </div>
                    <div>
                        <label>Email : </label>
                        <div class="controls  col-sm-12">
                            <input id="customerEmail" name="customerEmail" class="form-control" type="email" maxlength="50" autocomplete="off" value=""  />
                        </div>
                    </div>
                    <div>
                        <label>Credit Card Number: </label>
                        <div class="controls  col-sm-12">
                        <input id="cc-number" name="number" class="form-control" type="number" maxlength="20" placeholder="e.g. 5555555555554444" autocomplete="off" value="" />
                        </div>
                    </div>
                    <div>
                        <label>CVC: </label>
                        <div class="controls  col-sm-12">
                        <input id="cc-cvc" class="form-control" type="number" maxlength="4" placeholder="e.g. 123"autocomplete="off" value=""/>
                    </div>
                    </div>
                    <div>
                        <label>Expiry Date: </label>
                        <div class="form-group">
                            <div class="controls  col-sm-6">
                        <select id="cc-exp-month" class="form-control">
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                            </div >
                                <div class=" controls col-md-6">
                        <select id="cc-exp-year" class="form-control">
                            <option value="15">2015</option>
                            <option value="16">2016</option>
                            <option value="17">2017</option>
                            <option value="18">2018</option>
                            <option value="19">2019</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                            <option value="24">2024</option>
                        </select>
                                </div>
                        </div>
                    </div>
                 {#   <div>
                        <label>Adresse: </label>
                        <div class="controls  col-sm-12">
                            <input id="address" class="form-control" type="text" maxlength="100" autocomplete="off" value=""  />
                        </div>
                    </div>#}
                    <div class="form-group">
                    <div class="controls  col-sm-6">
                        <button id="process-payment-btn" name="saveCardDetails" class="btn btn-primary btn-lg btn-block" type="submit">Process Payment</button>
                    </div>
                        <div class="controls  col-sm-6">
                        <button id="go-back" class="btn btn-success btn-lg btn-block" >Return</button>
                        </div>

                    <div id="buy-with-masterpass-div" class="text-center"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}


 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.simplify.com/commerce/v1/simplify.js"></script>

<script type="text/javascript">

    function simplifyResponseHandler(data) {
        var $paymentForm = $("#simplify-payment-form");
        // Remove all previous errors
        $(".error").remove();
        // Check for errors
        if (data.error) {
            // Show any validation errors
            if (data.error.code == "validation") {
                var fieldErrors = data.error.fieldErrors,
                        fieldErrorsLength = fieldErrors.length,
                        errorList = "";
                for (var i = 0; i < fieldErrorsLength; i++) {
                    errorList += "<div class='error'>Field: '" + fieldErrors[i].field +
                            "' is invalid - " + fieldErrors[i].message + "</div>";
                }
                // Display the errors
                $paymentForm.after(errorList);
            }
            // Re-enable the submit button
            $("#process-payment-btn").removeAttr("disabled");
        } else {
            // The token contains id, last4, and card type
            var token = data["id"];
            var card = data["card"];
            var paymentStatus = data["paymentStatus"];
            var type = card["type"];
            var source = data["source"];
            var reference = data["reference"];
            // Insert the token into the form so it gets submitted to the server
            $paymentForm.append("<input type='hidden' name='simplifyToken' value='" + token + "' />");
            $paymentForm.append("<input type='hidden' name='customerName' value='" + card["name"] + "' />");
            $paymentForm.append("<input type='hidden' name='paymentStatus' value='" + paymentStatus + "' />");

            $paymentForm.append("<input type='hidden' name='reference' value='" + reference + "' />");
            $paymentForm.append("<input type='hidden' name='type' value='" + card["type"] + "' />");
            $paymentForm.append("<input type='hidden' name='source' value='" + source + "' />");

            $paymentForm.append("<input type='hidden' name='card' value='" + card + "' />");
            // Submit the form to the server
            $paymentForm.get(0).submit();
        }
    }
    $(document).ready(function() {

        $("#go-back").click(function() {
            window.history.go(-1);
        });

        $("#simplify-payment-form").on("submit", function() {

                // Disable the submit button
                $("#process-payment-btn").attr("disabled", "disabled");
                // Generate a card token & handle the response
                SimplifyCommerce.generateToken({
                    key: "{{ key.public_key }}",
                    card: {
                        number: $("#cc-number").val(),
                        cvc: $("#cc-cvc").val(),
                        expMonth: $("#cc-exp-month").val(),
                        expYear: $("#cc-exp-year").val(),
                        name: $("#fullname").val()
                       // addressLine1: $("#address").val()
                        // email: $("#email").val()

                    }
                }, simplifyResponseHandler);

            // Prevent the form from submitting
            return false;
        });
        SimplifyCommerce.addMasterPassCheckoutButton("buy-with-masterpass-div", "{{ key.public_key }}", masterPassResponseHandler,masterPassCanceledHandler);


    });

    function masterPassResponseHandler(data, status) {
        var $paymentForm = $("#simplify-payment-form");
        // Remove all previous errors
        $(".error").remove();
        // Check for errors
        if (data.error) {
            // Show any validation errors
            if (data.error.code == "validation") {
                var fieldErrors = data.error.fieldErrors,
                        fieldErrorsLength = fieldErrors.length,
                        errorList = "";
                for (var i = 0; i < fieldErrorsLength; i++) {
                    errorList += "<div class='error'>Field: '" + fieldErrors[i].field +
                            "' is invalid - " + fieldErrors[i].message + "</div>";
                }
                // Display the errors
                $paymentForm.after(errorList);
            }
        } else {
            // The token contains id, last4, and card type
            var token = data.cardToken["id"];
            // Insert the token into the form so it gets submitted to the server
            $paymentForm.append("<input type='hidden' name='simplifyToken' value='" + token + "' />");
            // Submit the form to the server
            $paymentForm.get(0).submit();
        }
    }

    function masterPassCanceledHandler () {
        console.log ("MasterPass canceled")
    }
</script>
{% endblock %}