{% extends 'admin/layout.html.twig' %}

{% block body %}
{{ parent() }}
<body>
<!-- container section start -->
<section id="container" class="">

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-table"></i> Modifier Reservation</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="{{ path('index_page') }}">Home</a></li>
                        <li><i class="fa fa-table"></i>Reservations</li>
                        <li><i class="fa fa-th-list"></i>Modifier Reservation</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->
            <ul>
                <li>
                    <a href="{{ path('reservation_index') }}">Back to the list</a>
                </li>

            </ul>
            {{ form_start(edit_form) }}

            {{ form_widget(edit_form) }}
            {# <input type="submit" value="Create" />#}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-warning" type="submit">Modifier</button>
                    <button class="btn btn-default" type="reset">Cancel</button>
                </div>
            </div>
            {{ form_end(edit_form) }}




            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section end -->
{% endblock %}

