{% extends 'base.html.twig' %}


    {% block title %}
        {{ parent() }} - Accueil

    {% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}



  {% block header %}
      {{ parent() }}


      <!-- Navigation -->
      <nav class="navbar" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- Logo -->
                  <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo.png')}}" alt="logo">
                  </a>
              </div>
              <!-- Navigation -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right drop_menu">
                      <li class=" dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Home </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ path('home') }}"> Home 1 </a>
                              </li>
                              <li>
                                  <a href="{{ path('home2') }}"> Home 2 </a>
                              </li>
                          </ul>

                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Property </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ path('property-list') }}"> Property Listings </a>
                              </li>
                              <li>
                                  <a href="{{ path('property-single') }}"> Property Single </a>
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Agents </a>
                          <ul class="dropdown-menu">
                              <li class="dropdown">
                                  <a href="{{ path('agent-list')}}">Our Agents </a>
                                  <span class="dropdown-toggle" data-toggle="dropdown"> </span>
                                  <ul class="sub_drop dropdown-menu">
                                      <li>
                                          <a href="{{ path('agent-single')}}"> Agent Single </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li class=" "> <a href="{{ path('features')}}">Features </a> </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Blog </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ path('blog-list')}}"> Blog </a>
                              </li>
                              <li>
                                  <a href="{{ path('blog-single')}}"> Blog Single </a>
                              </li>
                          </ul>
                      </li>
                      <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Pages </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a class="active" href="{{ path('about')}}"> About us </a>
                              </li>
                              <li>
                                  <a href="{{ path('services')}}"> Services </a>
                              </li>
                              <li>
                                  <a href="{{ path('pricing')}}"> Pricing Table </a>
                              </li>
                              <li>
                                  <a href="{{ path('404')}}"> 404 Page </a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a class="" href="{{ path('contact')}}">Contact </a>
                      </li>

                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

      <!-- Header bradcrumb -->
      <header class="bread_crumb">
          <div class="pag_titl_sec">
              <h1 class="pag_titl"> Validation de Transaction </h1>
              <h4 class="sub_titl"> Non dextera ut tribunis miserabiles percitus comitatum ferro mortis Paulum. </h4>
          </div>
          <div class="pg_links">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <p class="lnk_pag"><a href="{{ path('homepageAnnonce') }}"> Annonces </a> </p>
                          <p class="lnk_pag"> / </p>
                          <p class="lnk_pag"> Annuler Transaction </p>

                      </div>
                      <div class="col-md-6 text-right">
                          <p class="lnk_pag"><a href="{{ path('home2') }}"> Go Back to Home </a> </p>
                      </div>
                  </div>
              </div>
          </div>
      </header>

  {% endblock %}

        {% block body %}

            <div class="spacer-60"></div>
            <div class="container">
                <!-- 404 Section -->
                <section id="wrng_pg">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2 class="lrg_titl"> Annulation </h2>
                            <h3 class="sub_titl"> Transaction non Effectuer </h3>
                            <p class="desc"> Artifex hoc letaliter vinctum cognomentum et defensantem instabat est quia aliis urgente in quo mucronem miserabiles ad districtum non adoritur.</p>

                          <div> <div class="btns">
                                  <a href="{{path('detailsannonce', {'id': annonce.annonceId}) }}" class="orn_btn"> Return tu product </a>
                              </div><div class="btns">
                                  <a href="{{ path('home') }}" class="orn_btn"> Back to Home </a>
                              </div></div>


                        </div>

                    </div>
                    <!-- /.row -->
                </section>
                <div class="spacer-60"></div>
            </div>
            <!-- /.container -->
{% endblock %}



 {% block footer %}

     <!-- Copyright -->
     {{ parent() }}

 {% endblock %}

 {% block modal %}
     {{ parent() }}

 {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            'use strict';

            $('ul.drop_menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    </script>

{% endblock %}
