{% extends 'base.html.twig' %}


    {% block title %}
        {{ parent() }} - Accueil

    {% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body_id 'connexion' %}

  {% block header %}
      {{ parent() }}

      <!-- Navigation -->
      <nav class="navbar" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- Logo -->
                  <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo.png')}} " alt="logo">
                  </a>
              </div>
              <!-- Navigation -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right drop_menu">
                      <li class="active "> <a  href="{{ path('home') }}"> Accueil </a>


                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('recherchePage') }}"> Annonce </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{  path('typeannonce', {'type': 'Vente'})}}"> Vente & Achat </a>
                              </li>
                              <li>
                                  <a href="{{  path('typeannonce', {'type': 'Location'}) }}"> Location </a>
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Présentation </a>
                          <ul class="dropdown-menu">
                              <li class="dropdown">
                                  <a href="{{ path('agent-list')}}">Our Agents </a>
                                  <span class="dropdown-toggle" data-toggle="dropdown"> </span>
                                  <ul class="sub_drop dropdown-menu">
                                      <li>
                                          <a href="{{ path('agent-single')}}"> Agent Single </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li> <a href="{{ path('features')}}">Features </a> </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Blog </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ path('blog-list')}}"> Blog </a>
                              </li>
                              <li>
                                  <a href="{{ path('blog-single')}}"> Blog Single </a>
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Pages </a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a class="active" href="{{ path('about')}}"> About us </a>
                              </li>
                              <li>
                                  <a href="{{ path('services')}}"> Services </a>
                              </li>
                              <li>
                                  <a href="{{ path('pricing')}}"> Pricing Table </a>
                              </li>
                              <li>
                                  <a href="{{ path('404')}}"> 404 Page </a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a class="" href="{{ path('contact')}}">Contact </a>
                      </li>

                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

  {% endblock %}


{% block connexion %}
    <div class="spacer-60"></div>


    <div class="container">
        <div class="row">



            <div class="col-md-6 col-md-offset-3">
                <div class="titl_sec">
                    <div class="col-xs-6">

                        <h3 class="main_titl text-left">
                            Password reset
                        </h3>

                    </div>

                    <div class="clearfix"></div>
                </div>
    <div class="agen_info2">

                        {{ form_start(form, { 'method': 'POST','attr': {'class': 'form'} } ) }}
                        {{ form_errors(form) }}
                        <div class="control-group form-group first">
                            <div class="row">


                                        <div class="controls">
                                             {{ form_widget(form.username,{'attr':{'class':'form-control','placeholder':'Username'}}) }}
                                            {{ form_errors(form.username) }}
                                            <p class="help-block"></p>
                                        </div>

                                        <div class="controls">

                                            {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Email'}}) }}
                                            {{ form_errors(form.email) }}
                                            <p class="help-block"></p>
                                        </div>


                                </div>

                            </div>
                            <div class="cont_frm2">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                                <div id="success"></div>
                                <!-- For success/fail messages -->
                            </div>
        {{ form_end(form) }}

    </div>


                    </div>
                </div>
            </div>
    <div class="spacer-60"></div>

{% endblock %}