{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajouter un article</h2>

   {% include "blog/formulaire.html.twig" %}
    <p>     Attention :    {{ name }}   cet article sera ajouté directement     sur la page d'accueil après validation du formulaire.  </p>
<div>
    {{ name }}
<p>Listes des comptes</p>

    <table>
        <tr>
            <td>ID         </td>
            <td>LOGIN    </td>
            <td>PASSWORD    </td>
        </tr>
        {% for compte in listes %}
        <tr>
            <td>{{compte.compteId }}  </td>
            <td>{{compte.username}} </td>
            <td>{{compte.password    }}    </td>

            <td>{% for role in compte.getRoles()    %}
            {{ role }},
            {% endfor %}
            </td>
        </tr>
{% endfor %}

    </table>

</div>
{% endblock %}